rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{id} {
      allow read: if true;
      allow write: if false;
    }

    match /orders/{id} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /coupons/{id} {
      allow read: if true;
      allow write: if false;
    }

    match /customers/{id} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /support_tickets/{id} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
